    <link rel="stylesheet" href="/stylesheets/musik.css">
    <style>
        .spotify{
            color: #84bd00
        }
        .spotify:hover .spotify:visited{
            color: #84bd00
        }
    </style>

    <div id="app" data-server-rendered="true">
        <div class="theme-container no-sidebar">
            <header class="navbar">
                <div class="sidebar-button"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                        viewBox="0 0 448 512" class="icon">
                        <path fill="currentColor"
                            d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z">
                        </path>
                    </svg></div> <a href="/" class="home-link router-link-exact-active router-link-active">
                    <!----> <span class="site-name">musik</span></a>
                <div class="links" style="max-width:nullpx;">
                        <!---->
                    </div>
                </div>
            </header>
            <div class="sidebar-mask"></div>
            <div class="page">
                <div class="content">
                    <h1 id="my-music-collection"><a href="#my-music-collection" aria-hidden="true"
                            class="header-anchor">#</a> My Music Collection</h1>
                    <p>A colection of all the music that i like <b>Powered by <a class="spotify" href="https://developer.spotify.com/documentation/web-api/">Spotify</a></b>
                        {{#each albums}}
                            <h3 id="​we"><a href="#​we" aria-hidden="true" class="header-anchor">#</a> ​{{this.name}}</h3> <br>
                            <center><img
                                    src="{{this.image.url}}"
                                    class="img-album"></center> <br>
                            <div class="language- extra-class">
                                <pre class="language-text"><code>By : ​{{this.artist.name.name}}
Released : {{this.released}}</code></pre>
                            </div><br>
                            <center><a href="{{this.url}}" target="_blank" class="link-genius">View on Spotify</a></center>
                        {{/each}}

                    </div><br>
                 </div>
                <div class="page-edit">
                    <!---->
                    <!---->
                </div>
                <!---->
            </div>
            <!---->
        </div>
    </div>
